<h1>Rails Sample App</h1>
<table class="table">
  <thead>
    <tr>
      <th>Account</th>
      <th>Debit</th>
      <th>Credit</th>
      <th>Balance</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>5555</td>
      <td></td>
      <td>4000.00</td>
      <td>12000.00</td>
    </tr>
    <tr>
      <td>5555</td>
      <td>3000.00</td>
      <td></td>
      <td>9000.00</td>
    </tr>
    <tr>
      <td>9999</td>
      <td></td>
      <td>10000.00</td>
      <td>43000.00</td>
    </tr>
    <tr>
      <td>5555</td>
      <td>2000.00</td>
      <td></td>
      <td>11000.00</td>
    </tr>
  </tbody>
</table>
