<div class="text-center">
	<h1>Symantec Authenication</h1>
	<p>This site requires a second factor of authentication</p>
	
	<%= link_to symantec_auth_new_credential_path do %>
		<btn class="btn btn-primary auth-option">Add Credential</btn>
	<% end %>
	</br>
	<%= link_to symantec_auth_push_path, method: :post do %>
		<btn class="btn btn-default auth-option">Push</btn>
	<% end %>
	</br>
	<%= link_to symantec_auth_sms_send_path, method: :post do %>
		<btn class="btn btn-default auth-option">SMS</btn>
	<% end %>
	</br>
	<%= link_to symantec_auth_otp_path do %>
		<btn class="btn btn-default auth-option">One Time Password</btn>
	<% end %>

</div>


