<h1>Symantec OTP Authenication</h1>

<%= form_tag symantec_auth_sms_validate_path, method: :post do %>

	 <div class="form-group">
    <%= label_tag "One Time Password" %><br />
    <%= text_field_tag :otp, "", {class: "form-control"} %>
  </div>

	<%= submit_tag "Authenticate", class: "btn btn-default" %>

<% end %>