<h1>Symantec SMS Authenication</h1>

<%= form_tag symantec_auth_sms_validate_path, method: :post do %>

	 <div class="form-group">
    <%= label_tag "SMS Code" %><br />
    <%= text_field_tag :sms, "", {class: "form-control"} %>
  </div>

	<%= submit_tag "Authenticate" %>

<% end %>